version: "3.9"

services:
  db:
    image: postgres:16
    restart: always
    env_file: .env
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    restart: always
    env_file: .env
    environment:
      DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"
    depends_on:
      - db
    command: >
      sh -c "
        npx prisma migrate deploy &&
        node dist/main.js
      "

volumes:
  db_data:
